.header{
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.children{
    display:grid;
    gap: 1rem .5rem;
    justify-content: flex-start;
    grid-template-columns: auto minmax(auto,400px);

}